/* general */
body {
  padding: 15px;
  background-color: rgb(139, 71, 137);
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#main {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* calculator-body */
#calculator-box {
  background-color: rgb(201, 115, 193);
  box-shadow: 5px 8px 20px rgba(61, 26, 60, 0.602);
  border-radius: 20px;
  padding: 30px 20px;
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 30px;
}

/* display */
#calculator-display {
  background-color: rgb(115, 102, 114);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: rgb(194, 194, 194);
  font-weight: 700;
  font-size: 20px;
  justify-content:space-between;
  align-items: end;
  padding: 20px;
  flex: 1;
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

.calculation-result {
  font-size: 30px;
}

/* grid */
#grid {
  flex: 4;
  gap: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* buttons */
button {
  border:unset;
  background-color: rgb(135, 90, 133);
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-weight: 700;
  font-size: 25px;
  color: rgb(132, 183, 201);
  transition: all 0.125s;
}

.number {
  color:rgb(221, 221, 109)
}

button:hover {
  box-shadow: none;
}

button.operator {
  color:rgb(129, 191, 105);
}

.equal {
  background-color: rgb(91, 135, 74);
  color: rgb(221, 221, 109);
}

button.delete {
  color: rgb(255, 111, 111)
}