body {
  padding: 15px;
  background-color:rgb(22, 22, 22);
  font-family: 'Roboto', sans-serif;
}
#main {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#calculator-box {
  background-color: rgb(74, 74, 74);
  border-radius: 20px;
  padding: 30px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 30px;
}
#calculator-display {
  background-color: rgb(104, 104, 104);
  border-radius: 10px;
  text-align: right;
  display: flex;
  color: rgb(22, 22, 22);
  font-weight: 700;
  font-size: 20px;
  justify-content:end;
  padding: 20px;
  flex: 1;
}
#grid {
  background-color: rgb(142, 142, 142);
  flex: 4;
  gap: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#grid > button {
  border:unset;
  background-color: rgb(74, 74, 74);
  font-weight: 700;
  font-size: 20px;
  color: rgb(158, 158, 158);
}
