/* general */
body {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s;
}

#main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* calculator-body */
#calculator-box {
  box-shadow: 5px 8px 20px rgba(61, 26, 60, 0.602);
  border-radius: 20px;
  padding: 30px 20px;
  height: 500px;
  width: 340px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  gap: 30px;
}

/* history */
.history-wrapper {
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
}
#close-history{
  color:rgb(255, 111, 111);
  font-size: 20px;
  padding: 3px 9px;
}
.history-buttons {
  display: flex;
  gap: 10px;
}
#delete-history {
  display: flex;
  align-items: center;
  justify-content: center;
}
#delete-history > img {
  width: 20px;
}
.history-heading {
  color: rgb(194, 194, 194);
  font-size: 30px;
  font-weight: 700;
}
hr {
  margin-top: unset;
  border: 1.5px solid rgb(194, 194, 194)
}
#history-box {
  transition: all 0.5s;
  position: absolute;
  top: 0px;
  align-self: center;
  width: 100%;
  border-radius: 20px;
  visibility: hidden;
  height: 0;
}
.history-main {
  opacity: 0;
  text-align: left;
  padding: 25px;
  display: flex;
  flex-direction: column;
  color: rgb(194, 194, 194);
  font-weight: 700;
  font-size: 20px;
  height: 400px;
  gap: 15px;
  overflow: auto;
  transition: all 0.6s;
}
.history-main::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px;
}

.history-main::-webkit-scrollbar-thumb {
  background-color: rgb(194, 194, 194);
  border-radius: 6px;
}

/* display */
#calculator-display {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: rgb(194, 194, 194);
  font-weight: 700;
  font-size: 20px;
  justify-content:space-between;
  align-items: end;
  padding: 20px;
  flex: 1;
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

.current-number {
  font-size: 30px;
}

/* grid */
#grid {
  flex: 4;
  gap: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* buttons */
.theme-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.theme-buttons > button {
  width: 35px;
  height: 35px;
}
#pink-theme {
  background-color: rgb(201, 115, 193);
}
#orange-theme {
  background-color: rgb(220, 162, 100);
}
#blue-theme {
  background-color: rgb(118, 115, 201);
}
button {
  border:unset;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-weight: 700;
  font-size: 25px;
  transition: all 0.125s;
}

.number {
  color:rgb(221, 221, 109)
}

.other {
  color: rgb(132, 183, 201);
}

button:hover {
  box-shadow: none;
}

button.operator {
  color:rgb(129, 191, 105);
}

.equal {
  background-color: rgb(91, 135, 74);
  color: rgb(221, 221, 109);
}

button.delete {
  color: rgb(255, 111, 111)
}

/* message */
#message {
  color: rgb(255, 248, 107);
  display: none;
}

/* icons */
.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.history > img, .delete > img {
  width: 30px;
}

/* pink theme */
#grid.pink > button, .history-buttons.pink > button {
   background-color: rgb(135, 90, 133);
}
#calculator-display.pink{
  background-color: rgb(115, 102, 114);
}
.history-main.pink::-webkit-scrollbar {
  background-color: rgb(120, 81, 118);
}
#history-box.pink {
  background-color: rgba(156, 101, 151, 0.85);
}
.history-wrapper.pink {
  background-color: rgba(156, 101, 151, 1);
}
#calculator-box.pink {
  background-color: rgb(201, 115, 193);
}
body.pink {
  background-color: rgb(139, 71, 137);
}
button.on {
  border: 2px solid  rgb(221, 221, 109);
}


/* blue theme */
#grid.blue > button, .history-buttons.blue > button {
  background-color: rgb(97, 90, 135);
} 
#calculator-display.blue {
  background-color: rgb(103, 102, 115);
}
.history-main.blue::-webkit-scrollbar {
  background-color: rgb(81, 84, 120);
}
#history-box.blue {
  background-color: rgba(101, 103, 156, 0.85);
}
.history-wrapper.blue {
  background-color: rgb(103, 101, 156);
}
#calculator-box.blue {
  background-color: rgb(118, 115, 201);
}
body.blue {
  background-color: rgb(71, 76, 139);
}

/* orange theme */
#grid.orange > button, .history-buttons.orange > button {
  background-color: rgb(151, 113, 75);
} 
#calculator-display.orange {
  background-color: rgb(115, 110, 102);
}
.history-main.orange::-webkit-scrollbar {
  background-color: rgb(120, 104, 81);
}
#history-box.orange {
  background-color: rgba(156, 128, 101, 0.85);
}
.history-wrapper.orange {
  background-color: rgb(156, 132, 101);
}
#calculator-box.orange {
  background-color: rgb(220, 162, 100);
}
body.orange {
  background-color: rgb(151, 121, 71);
}